html {
    background-color: #040414;
}
* {
    font-family: 'Montserrat';
    margin: 0px;
}


input[type="date"] { 
    background: transparent;
    color: white;
    padding-left: 16px;
    padding-right: 16px;
  }
  
  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(100%);
  }



.dashboard {
    display: flex;
    flex-direction: row;
}


.myDiv {
    display: block;
}
.form-form {
    max-width: 280px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.form-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



/* Body starts here */
.flex-holder {

    width: 100%;
    background-color: #040414;
    color: white;
}

.body-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 101px;
    width: 100%;    
}

.body-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    margin: 0px 0px 0px 40px;
}

.body-search {
    margin-right: 40px;
}

.body-search input {
    min-width: 280px;
    height: 46px;
    background: #040414;
    border: 1px solid #93B2FF;
    box-sizing: border-box;
    border-radius: 10px;
}
.body-search input:focus {
  outline:none;
  min-width: 280px;
  height: 46px;
  border: 1px solid #3772FF;
  box-sizing: border-box;
  border-radius: 10px;
  outline: 0;
  outline-offset: 0;
}
.body-search input[type=text] {
  padding-left: 16px;
  color: white;
}
/*Body ends here*/

.content-wrap {
    background: #10101F;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 10px;
}

.content-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.content-title-main {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.content-title-sub {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    color: #93B2FF;
}





.add-bullet{
    margin-bottom: 4px;
    padding: 6px 16px 6px 16px;
    background-color: #3772FF;
    border: 1px solid #3772FF;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1.25px;
    color: #FFFFFF;
    min-height: 28px;
}

.add-bullet:hover {
    background-color: #6A96FF;
}

.add-bullet:active {
    background-color: #8EAFFF;
    border: 1px solid #8EAFFF;
}

.add-bullet:focus {
    background-color: #316EFF;
    border: 1px solid #004BFF;  
}

.content-title-right
  select {
    /* Reset */
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    /* Personalize */
    margin-bottom: 4px;
    padding: 6px 16px 6px 16px;
    background-color: #040414;
    border: 1px solid #93B2FF;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1.25px;
    color: #FFFFFF;
    min-height: 28px;
    margin-right: 20px;
    cursor: pointer;
  }

.content {
    display: flex;
    padding: 20px;
}

.thDate {
    min-width: 150px;
    text-align: left;
}

tr {
    text-align: left;

}

th {
    color: #93B2FF;
    text-align: left;
    padding-bottom: 20px;
}

td {
    padding-bottom: 20px;
}

td a {
    color: red;
    text-decoration: none;
}